@media (min-width: 576px) {
    .card {
        min-width: 40%;
    }
}
@media (min-width: 1000px) {
    .card {
        min-width: 30%;
    }
}
.score{
    float: right;
    font-weight: bold;
}

.card-footer {
    background: none;
    border: none;
}