.card {
    min-height: 250px;
  
    &-header {
        &:first-child {
        border-radius: 0;
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);
        }
        .score {
            float: right;
            font-weight: bold;
        }
    }
    
    &-footer {
        background: none;
        border: none;
        padding: .75rem 1.25rem;
    }
    
    &-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
    }
}

.bg-secondary {
    background-color: none;
}